@model List<BE_U2_W2_Spedizioni.Models.Spedizione>

@{
    ViewBag.Title = "ConsegnaOdierna";
}

<h2>In Consegna Oggi</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Spedizione</th>
            <th>ID Cliente</th>
            <th>Data Spedizione</th>
            <th>Peso</th>
            <th>Città</th>
            <th>Indirizzo</th>
            <th>Nominativo Destinatario</th>
            <th>Costo Spedizione</th>
            <th>Data Consegna Prevista</th>
        </tr>
    </thead>
    <tbody>
        <!-- Riempo questa sezione con i risultati della chiamata AJAX -->
        @foreach (var spedizione in Model)
        {
            <tr>
                <td>@spedizione.IDSpedizione</td>
                <td>@spedizione.IDCliente</td>
                <td>@spedizione.DataSpedizione.ToShortDateString()</td>
                <td>@spedizione.Peso</td>
                <td>@spedizione.Citta</td>
                <td>@spedizione.Indirizzo</td>
                <td>@spedizione.NominativoDestinatario</td>
                <td>@spedizione.CostoSpedizione</td>
                <td>@spedizione.DataConsegnaPrevista.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Torna alla lista", "Index", "Spedizione", new { @class = "btn btn-primary" })


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/Spedizione/ConsegnaOdierna')
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Errore HTTP! Stato: ${response.status}`);
                }
                return response.json();
            })
            .then(result => {
                // Aggiorna l'interfaccia utente con i risultati ottenuti
                var tableBody = document.querySelector('table tbody');
                tableBody.innerHTML = ''; // Cancella la tabella prima di aggiungere nuove righe

                result.forEach(spedizione => {
                    // Aggiungi una nuova riga per ogni spedizione
                    var row = `<tr>
                    <td>${spedizione.IDSpedizione}</td>
                    <td>${spedizione.IDCliente}</td>
                    <td>${spedizione.DataSpedizione}</td>
                    <td>${spedizione.Peso}</td>
                    <td>${spedizione.Citta}</td>
                    <td>${spedizione.Indirizzo}</td>
                    <td>${spedizione.NominativoDestinatario}</td>
                    <td>${spedizione.CostoSpedizione}</td>
                    <td>${spedizione.DataConsegnaPrevista}</td>
                </tr>`;

                    tableBody.innerHTML += row;
                });
            })
            .catch(error => {
                console.error(`Errore durante la chiamata AJAX: ${error.message}`);
            });
    });
</script>
